.title {
  color: white;
}
header, footer {
      				text-align: center;
      				background: rgba(0,0,0,0.8);
      				
      				background-position: center;
      				color: white;
      				font-family: helvetica;
    			}

    			h1 {
    				padding: 50px;
            font-family: 'Playfair Display', cursive;
            position: relative;
            top: 0px;

    			}
			
			ul {
			/*	background: rgba(255,255,255,0.2);*/
				padding: 10px 50px -20px 50px;
        position: relative;
        top: -50px;
			}

			li {
				display: inline;
				color: white;
        padding: 20px 20px 20px 20px;
			}

footer {
  bottom: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}

a {
  color: white;
}

body {
  
  background-image:url("http://i.telegraph.co.uk/multimedia/archive/02452/whisky_2452205b.jpg");;
  background-size: cover;
  text-align: left;
  max-width: 1500px;
}

.stuff {
  background: rgba(10,10,10,0.8);
  background-size: 100px 50px;
  color: white;
  max-width: 100%;
}

.comstuff, .img1 {
  display: inline-block;
}

.comstuff {
  background: rgba(10,10,10,0.8);
  background-size: 100px 50px;
  color: white;
  max-width: 100%;
  position: relative;
  text-align: left;
  float: top;
}

.img1 {
  position: relative;
  text-align: right;
/*  right: -700px;*/
 /* padding: 0px 0px 0px 700px;*/
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
  min-height:30px;
  margin-top:10px;
  margin-bottom: 10px;
  width:100px;
  /*padding:5px 15px; */
  background: rgba(59, 89, 152, 1); 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.first {
  max-width: 500px;
  position: left;
}

.second {
  max-width: 500px;
  position: right;
}

.first, .second {
  display: inline-block;

}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 36px;
  }
  li {
    display: block;
    padding: 5px;
  }
  body {
    background: #696969;
  }
  footer {
  	position: relative;
  }
  }
}
