.title {
  color:red;
  background-color:blue;
}
header {
      				text-align: center;
      				
      				background-size: cover;
      				background-position: center;
      				color: white;
      				font-family: helvetica;
    			}

    			h1 {
    				padding: 50px 50px 50px 50px;
    			}
			
			ul {
				background: rgba(255,255,255,0.2);
				padding: 100px 20px 100px 20px;
			}

			li {
				display: inline;
				color: white;
			}
